```html
<div id="analysis-container" class="analysis-component">
  <h2>Code Analysis</h2>
  <form id="analysis-form">
    <label for="project-folder-input">Select Project Folder:</label>
    <input type="file" id="project-folder-input" webkitdirectory directory multiple>
    <button type="button" id="analyze-button" onclick="performAnalysis()">Analyze Code</button>
  </form>
  <div id="analysis-results">
    <!-- Results will be appended here by JavaScript functions -->
  </div>
</div>

<script src="js/main.js"></script>
```