<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Code Analysis & Enhancement Tool</h5>
                <p>This tool is designed to help developers analyze, enhance, review, and learn from their codebase.</p>
            </div>
            <div class="col-md-6">
                <h5>Quick Links</h5>
                <ul class="footer-links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="analysis_view.html">Code Analysis</a></li>
                    <li><a href="enhancement_view.html">Code Enhancement</a></li>
                    <li><a href="review_view.html">Code Review</a></li>
                    <li><a href="learning_view.html">Continuous Learning</a></li>
                    <li><a href="openai_view.html">OpenAI Utils</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Code Analysis & Enhancement Tool. All Rights Reserved.</p>
        </div>
    </div>
</footer>
<link rel="stylesheet" href="css/style.css">
<script src="js/main.js"></script>