```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Code Analysis Tool</title>
</head>
<body>
    <nav id="navbar">
        <div class="nav-wrapper">
            <div class="logo">
                <a href="index.html">CodeAnalysisTool</a>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="analysis_view.html">Code Analysis</a></li>
                <li class="nav-item"><a href="enhancement_view.html">Code Enhancement</a></li>
                <li class="nav-item"><a href="review_view.html">Code Review</a></li>
                <li class="nav-item"><a href="learning_view.html">Continuous Learning</a></li>
                <li class="nav-item"><a href="openai_view.html">OpenAI Utils</a></li>
            </ul>
        </div>
    </nav>
    <script src="../js/main.js"></script>
</body>
</html>
```